:root {
  --bg-color: #18171A;
  --font-primary-color: #fff;
  --font-secondary-color: #A6A6A6;
  --hero-bg: linear-gradient(90deg, #2F0F41 0%, #640C42 100%);
  --card-bg: #3A2148;
  --button-primary-color: linear-gradient(90deg, #7B28AC 0%, #640C42 100%);
}