.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 5%;
  border-bottom: 1px solid #4E4E4E;

  span, h2 {
    color: var(--font-primary-color);

    &:hover {
      cursor: pointer;
    }
  }

  .title {
    font-size: 24px;
  }

  .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    img {
      border-radius: 50%;
    }

    span {
      &:last-child {
        margin-left: 22px;
      }
    }
  }
}