.carousel {
  width: 100%;
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  iframe {
    width: calc(100% - 690px);
    border-radius: 32px;
  }
}

.left-arrow,
.right-arrow {
  font-size: 16px;
  background: #fff;
  color: #000;
  display: block;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  border: 0;
  
  &:disabled {
    background: #ffffff;
    opacity: 0.7;

    &:hover {
      cursor: not-allowed;
    }
  }

  &:not(:disabled):hover {
    cursor: pointer;
  }
}

.container {
  min-height: 420px;
  padding-top: 200px;
}