.carousel {
  width: 100%;
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-arrow,
.right-arrow {
  padding: 12px 12px;
  font-size: 16px;
  background: #fff;
  color: #000;
  display: flex;
  justify-self: center;
  align-self: center;
  border-radius: 8px;
  border: 0;
  
  &:disabled {
    background: #ffffff;
    opacity: 0.7;

    &:hover {
      cursor: not-allowed;
    }
  }

  &:not(:disabled):hover {
    cursor: pointer;
  }
}

.container {
  min-height: 480px;
  padding-top: 200px;
}