.categories {
  margin-top: 34px;

  .category-title {
    display: flex;
    align-items: center;
    gap: 6px;

    h2 {
      color: var(--font-primary-color);
    }
  }

  .category-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .more-button {
    display: flex;
    justify-self: center;
    margin-top: 32px;
  }
}
